.menu__close {
    justify-self: end;
    align-self: start;
    cursor: pointer;
    background: url(../images/menu-close.svg);
    width: 30px;
    height: 30px;
    border: 0;
    padding: 0;
    margin-right: 2px;
}