.slider__arrows {
    padding-top: 50px;
    position: relative;
    left: -2px;
    display: flex;
    width: 124px;
    justify-content: space-between;
}

@include breakpoint('.slider__arrows', 480px) {
    width: 58px;
    align-self: center;
    left: 0;
}