.hero__images {
    width: 810px;
    height: 836px;
    background-image: url('../images/hero__background.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 610px 836px;
    display: flex;
    flex-direction: column;
}

@include breakpoint('.hero__images', 1400px) {
    width: 60%;
    background-size: calc(100% - 30px) auto;
    height: 650px;
}

@include breakpoint('.hero__images', 860px) {
    width: 100%;
    height: 650px;
}

@include breakpoint('.hero__images', 560px) {
    width: 100%;
    height: 500px;
}

@include breakpoint('.hero__images', 400px) {
    width: 100%;
    height: 400px;
}

@include breakpoint('.hero__images', 380px) {
    background-size: 254px 348px;
    width: 100%;
    height: 348px;
}