.slider__item {
    height: 400px;
    background-image: url('../images/slide-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

@include breakpoint('.slider__item', 480px) {
    height: 175px;
}

.slider__item::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 16px;
    width: 100px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@include breakpoint('.slider__item::after', 480px) {
    bottom: 14px;
    width: 70px;
    height: 28px;
}