.hero__image {
    width: 440px;
    height: 300px;
    position: sticky;
    top: 327px;
    border-radius: 20px;
    filter: drop-shadow(-20px 60px 220px rgba(0, 0, 0, 0.2));
    background-color: #F4F4F4;
    background-image: url('../images/hero__image.jpg');
    background-position: center;
    background-size: 340px 260px;
    background-repeat: no-repeat;
    margin-bottom: 79px;
}

@include breakpoint('.hero__image', 520px) {
    width: 351px;
    height: 240px;
    background-size: 270px 207px;
}

@include breakpoint('.hero__image', 400px) {
    width: 263px;
    height: 180px;
    background-size: 202px 155px;
}

@include breakpoint('.hero__image', 350px) {
    top: 385px;
    margin-bottom: 20px;
    width: 234px;
    height: 160px;
    background-size: 180px 138px;
}