.switcher_theme_dark {
    background-color: #545454;
    background-position: 22px center;
}

.switcher_theme_dark::before {
    background-color: #545454;
}

.switcher_theme_dark::after {
    background-color: #545454;
}