.menu {
    position: fixed;
    background: $backgroundColor;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    left: 100vw;
    pointer-events: none;
    z-index: 3;
    display: grid;
    padding: 18px 13px 38px;
    box-sizing: border-box;
    grid-template-rows: 128px 1fr 100px;
    transition: left .3s;
}