$accedentColor: #24B47E;
$accedentDarkColor: #319E75;

$primaryColor: #151515;
$secondaryColor: #222222;

$defaultFont: 'Inter', sanf-serif;
$backgroundColor: #F4F4F4;
$backgroundColorDark: #333;

$wideOffset: 120px;
$mediumOffset: 60px;
$smallOffset: 18px;
