.swiper-pagination-bullet {
    background-color: #CACACA;
    width: 8px;
    height: 8px;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background-color: #151515;
}

@include breakpoint('.swiper-pagination-bullet', 480px) {
    width: 4px;
    height: 4px;
    margin: 0 2.5px !important;
}